{% extends 'base.html' %}
{% load static %}
{% block title %} Home Page {% endblock %}
{% block content %}

<h1>Home Page</h1>
<section>
    {% include 'partials/search.html'%}
</section>
{% if user.username != 'guest' and user.is_authenticated%}
    <div>
        <a class="btn btn-primary" href="{% url 'recipes:create' %}">Create recipe</a>
    </div>
{% endif %}
<section>
    <div id="results" class="container">
        {% include 'partials/recipe_list.html'%}
    </div>
</section>
{% if is_paginated %}
    <div class="pagination">
       <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/recipes?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/recipes?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>
{% endif %}
{% endblock %}

