{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <form method="POST" action="{% if object %}{% url 'recipes:update' object.id %}
    {% else %}
    {% url 'recipes:create' %}{% endif %}" 
     autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}

         <!-- Add these hidden fields explicitly -->
        <div style="display: none;">
            {{ form.categories }}
            {{ form.tags }}
        </div>



        <div class="mb-3">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.description|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.picture|as_crispy_field }}
        </div>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#categoriesAndTagsModal">
            Add Categories and Tags
        </button>
        {% if form.sub_recipes %}
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="subRecipeDropdown">
                    Select Sub-Recipes
                </button>
                <div class="dropdown-menu p-3 position-static w-100" id="subRecipeDropdownMenu">
                    <div class="form-group">
                        <label for="{{ form.sub_recipes.id_for_label }}">Sub Recipes</label>
                        <div>{{ form.sub_recipes }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="conteiner-for-ingredients-and-steps">
            {% include 'partials/steps_and_ingredients_for_create_form.html'%}
        </div>
    </form>
</div>

<!--Modal for Categories and Tags  -->
{% include 'partials/categories_and_tags_modal.html' %}
{% endblock %}


