{% extends 'base.html' %}
{% load static %}
{% block title %} Recipe: {{ object.title }} {% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">{{ object.title }}</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
               {% if object.images.first %}
                    <img src="{{ object.images.first.picture.url }}" class="card-img-top" alt="Recipe Image">
                {% else %}
                    <p class="text-center text-muted py-4">No image available.</p>
                {% endif %}
                <div class="card-body">
                    <h2>Description</h2>
                    <p class="card-text">{{ object.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        {% if object.categories.all %}
            <h3>Categories</h3>
            <div>
                {% for category in object.categories.all %}
                    <span class="badge bg-primary me-1">{{ category.name }}</span>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if object.tags.all %}
        <div class="col-md-6 mb-4">
            <h3>Tags</h3>
            <div>
                {% for tag in object.tags.all %}
                    <span class="badge bg-secondary me-1">{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    
        <div class="col-md-6">
            <div class="card p-3">
                <h2>Ingredients</h2>
                <ul>
                    {% for ingredient in object.ingredients.all %}
                    <li>
                        {{ ingredient.quantity|default_if_none:"" }} 
                        {{ ingredient.measurement|default_if_none:"" }} 
                        {{ ingredient.name }}
                    </li>
                    {% empty %}
                        <li>No ingredients added yet.</li>
                    {% endfor %}
                </ul>
                {% if object.sub_recipes.all %}
                    <h3 class="mt-3">Sub-Recipe Ingredients</h3>
                    {% for sub_recipe in object.sub_recipes.all %}
                        <div class="mt-2">
                            <h5><strong><a href="{% url 'recipes:sub_recipes_detail' sub_recipe.id %}">{{ sub_recipe.title }}<a/></strong></h5>
                            <ul>
                                {% for ingredient in sub_recipe.sub_ingredients.all %}
                                    {% if ingredient.measurement %}
                                        <li>{{ ingredient.quantity }} {{ ingredient.measurement }} {{ ingredient.name }}</li>
                                    {% else %}
                                        <li>{{ ingredient.quantity }} {{ ingredient.name }}</li>
                                    {% endif %}
                                {% empty %}
                                    <li>No ingredients listed for this sub-recipe.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3">
                <h2>Steps</h2>
                <ol>
                    {% for step in object.steps.all %}
                        <li>{{ step.description }}</li>
                    {% empty %}
                        <li>No steps added yet.</li>
                    {% endfor %}
                </ol>
                {% if object.sub_recipes.all %}
                    <h3 class="mt-3">Sub-Recipe Steps</h3>
                    {% for sub_recipe in object.sub_recipes.all %}
                        <div class="mt-2">
                            <h5><strong><a href="{% url 'recipes:sub_recipes_detail' sub_recipe.id %}">{{ sub_recipe.title }}</a></strong></h5>
                            <ul>
                                {% for sub_step in sub_recipe.sub_steps.all %}
                                    <li>{{ sub_step.description }}</li>
                                {% empty %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if can_edit %}
        <div class="row mt-4">
            <div class="col text-center">
                <a class="btn btn-outline-info mx-2" href="{% url 'recipes:update' object.id %}">Update</a>
                <a class="btn btn-outline-danger mx-2" href="{% url 'recipes:delete' object.id %}">Delete</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
