{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <form id="recipe-form" method="POST" action="{% if object %}{% url 'recipes:update' object.id %}
    {% else %}
    {% url 'recipes:create' %}{% endif %}" 
     autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="categories-hidden"></div>
        <div id="tags-hidden"></div>
        <div class="mb-3">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.description|as_crispy_field }}
        </div>
        <div class="mb-3" id="id_picture">
            {{ image_from.picture|as_crispy_field }}
            <img id="image-preview" src="#" alt="Image preview" style="display:none; max-width: 300px; margin-top: 10px;" />
        </div>
        <button id="openCategoriesAndTagsButton" type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#categoriesAndTagsModal"> <!-- Using Bootstrap attributes to trigger modal open-->
            Add Categories and Tags
        </button>
        {% if form.sub_recipes %}
            <div class="dropdown mb-4">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="subRecipeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Sub-Recipes
                </button>
                <div class="dropdown-menu p-3" aria-labelledby="subRecipeDropdown">
                    {% for choice in form.sub_recipes %}
                    <div class="form-check dropdown-item">
                        {{ choice.tag }}
                        <label class="form-check-label" for="{{ choice.id_for_label }}">
                            {{ choice.choice_label }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="conteiner-for-ingredients-and-steps">
            {% include 'partials/steps_and_ingredients_for_create_form.html'%}
        </div>
    </form>
</div>
<script type="module" src="{% static 'recipes/java_script/main.js' %}"></script>
<!--Modal for Categories and Tags  -->
{% include 'partials/categories_and_tags_modal.html' %}
{% endblock %}


