{% load static %}
<div class="modal fade modal-xl" id="ingredientsModal" tabindex="-1" aria-labelledby="ingredientsModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ingredientsModalLabel">Ingredients</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modal-form-elements">
                    <div class="ingredients-section mb-4">
                        <form id="ingredients-modal-from">
                            <div id="ingredients-list" class="form-check">
                                {{ ingredients_formset.management_form }}
                                <div id="ingredients-formset" class="ingredients-container">
                                    {% for ingredient_form in ingredients_formset %}
                                        {{ ingredient_form.id }}
                                        <div class="ingredient-card">
                                            <div class="ingredient-form border p-4 rounded shadow">
                                                {{ ingredient_form.name.label_tag }} {{ ingredient_form.name }}
                                                {{ ingredient_form.quantity.label_tag }} {{ ingredient_form.quantity }}
                                                {{ ingredient_form.measurement.label_tag }} {{ ingredient_form.measurement }}
                                                <button type="button" class="remove-button btn btn-secondary mt-2">Remove</button>
                                                {{ ingredient_form.DELETE.as_hidden }}
                                            </div>
                                            <div class="hidden-undo" style="display: none;">
                                                Ingredient removed – <button type="button" class="undo-btn btn-secondary mt-2">Undo</button>
                                            </div>   
                                        </div>  
                                    {% endfor %}
                                </div>
                                
                            </div>
                        </form>
                        <button type="button" id="add-ingredient-button" data-action="add-ingredient" data-formset="ingredient">Add Ingredient</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" 
                        id="save-ingredients-button" 
                        class="btn btn-primary" 
                        data-mode="{% if recipe.id %} update {% else%} create {% endif %}"
                        data-recipe-id="{{ recipe.id }}"
                        data-url="{% if recipe.id %}{% url 'recipes:update_recipe_ingredients' recipe.id %}{% endif %}"
                        data-bs-dismiss="modal">Save Ingredients</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div> 
</div>
<script type="module" src="{% static 'recipes/java_script/main.js' %}"></script>