<div class="row">
    {% for recipe in recipes %}
                <div class="col-md-4 mb-4">
                    <div class="card my-4">
                        {% if recipe.picture %}
                          <a href="{% url 'recipes:detail' recipe.pk %}">
                            <img src="{{ recipe.get_thumbnail_url  }}" class="image" alt="{{ recipe.title }}">
                          </a>
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'recipes:detail' recipe.pk %}"  class="card-title"><h5>{{ recipe.title }}</h5></a>
                            <p class="card-text">{{ recipe.description| truncatechars:200 }}</p>
                        </div>
                    </div>
                </div>
    {% endfor %}
</div>