{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <form id='sub-recipe-form' method="POST" action="{% if object %}{% url 'recipes:update_sub_recipe' object.id %}
        {% else %}
        {% url 'recipes:create_sub_recipe' %}{% endif %}" 
        autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="dropdown mb-4">
            {% include 'recipes/partials/recipe_action_buttons.html' with action="Edit"%}
            {% include 'recipes/partials/recipe_steps_action_button.html' with action="Edit" %}
        </div>
        <div id="ingredients-modal-container"></div>
        <div id="steps-modal-container"></div>
        <div class="form-group py-3">
            <input class="btn btn-outline-primary" type="submit" value="Save" />
        </div>
        <div class="border-top pt-3">
            <a href="{% url 'recipes:home' %}">Cancel</a>
        </div>
    </form>
</div>
<script type="module" src="{% static 'js/recipes/main.js' %}"></script>
{% endblock %}
