{% extends 'base.html' %}
{% load static %}
{% block title %} Sub Recipe {% endblock %}
{% block content %}

<h1>Sub Recipe Page</h1>
<section>
    {% include 'partials/search.html'%}
</section>
{% if user.username != 'guest' and user.is_authenticated%}
    <div>
        <a class="link" href="{% url 'recipes:create' %}">Create sub-recipe</a>
    </div>
{% endif %}
<section>
    <div id="results" class="container">
        {% include 'partials/sub_recipe_list.html' %}
    </div>
<section>
{% endblock %}

