{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <form method="POST" action="{% if object %}{% url 'recipes:update_sub_recipe' object.id %}
    {% else %}
    {% url 'recipes:create_sub_recipe' %}{% endif %}" 
     autocomplete="off" enctype="multipart/form-data">
     {% csrf_token %}
     {{ form|crispy }}
     <div class="conteiner-for-ingredients-and-steps">
         {% include 'partials/steps_and_ingredients_for_create_form.html'%}
     </div>
    </form>
</div>
{% endblock %}
