{% extends 'base.html' %}
{% load static %}
{% block title %} Recipe: {{ object.title }} {% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">{{ object.title }}</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card p-3">
                <h2>Ingredients</h2>
                <ul>
                    {% for ingredient in object.ingredients.all %}
                        {% if ingredient.measurement%}
                            <li>{{ ingredient.quantity }} {{ ingredient.measurement }} {{ ingredient.name }}</li>
                        {% else %}
                            <li>{{ ingredient.quantity }} {{ ingredient.name }}</li>
                        {% endif %}
                    {% empty %}
                        <li>No ingredients added yet.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3">
                <h2>Steps</h2>
                <ol>
                    {% for steps in object.steps.all %}
                        <li>{{ steps.description }}</li>
                    {% empty %}
                        <li>No steps added yet.</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    {% if object.main_recipes.all %}
        <div class="col-md-6 p-2">
            <h4>Used in:</h4>
            <ul>
                {% for recipe in object.main_recipes.all %}
                    <li><a href="{% url 'recipes:detail' recipe.id %}" >{{ recipe.title }}</a></li>
                {% empty %}   
                {% endfor %}
            <ul>
        </div>
    {% endif %}

    {% if can_edit%}
        <div class="row mt-4">
            <div class="col text-center">
                <a class="btn btn-outline-info mx-2" href="{% url 'recipes:update_sub_recipe' object.id %}">Update</a>
                <a class="btn btn-outline-danger mx-2" href="{% url 'recipes:delete_sub_recipe' object.id %}">Delete</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
